@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employess</h1>
<br />
<br />
@* <div class="mt-4 alert alert-warning">
    <h5>@ViewData["massage"]</h5>
</div>
<div class="mt-4 alert alert-success">
    <h5>@ViewBag.massage</h5>
</div> *@


@* @if (!string.IsNullOrEmpty(TempData["massage"] as string))
{
    <div class="mt-4 alert alert-success">
        <h5>@TempData["massage"]</h5>
    </div>

} *@
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Create Employee</a>


<div class="row justify-content-center align-items-center mt-5 mb-2"> 
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" id="searchInp" name="searchInp" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.Name)</th>
                <th>@Html.DisplayNameFor(e => e.Age)</th>
                <th>Department</th>
                <th>@Html.DisplayNameFor(e => e.Address)</th>
                <th>@Html.DisplayNameFor(e => e.Email)</th>
                <th>Gender</th>
                @* <th>@Html.DisplayNameFor(e => e.hirringDate)</th> *@
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Age</td>
                    <td>@e.Department?.Name</td>
                    <td>@e.Address</td>
                    <td>@e.Email</td>
                    <td>@e.gen</td>
                    @* <td>@e.hirringDate</td> *@
                    <partial name="_ButtonsPartial" model="@e.Id"></partial>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>No Employee</h3>
    </div>
}

