@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employess</h1>
<br />
<br />
@* <div class="mt-4 alert alert-warning">
    <h5>@ViewData["massage"]</h5>
</div>
<div class="mt-4 alert alert-success">
    <h5>@ViewBag.massage</h5>
</div> *@

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Create Employee</a>

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.Name)</th>
                <th>@Html.DisplayNameFor(e => e.Age)</th>
                <th>@Html.DisplayNameFor(e => e.Address)</th>
                <th>@Html.DisplayNameFor(e => e.Email)</th>
                <th>@Html.DisplayNameFor(e => e.isActive)</th>
                <th>Gender</th>
                <th>@Html.DisplayNameFor(e => e.hirringDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Age</td>
                    <td>@e.Address</td>
                    <td>@e.Email</td>
                    <td>@e.isActive</td>
                    <td>@e.gen</td>
                    <td>@e.hirringDate</td>
                    <partial name="_ButtonsPartial" model="@e.Id"></partial>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>No Employee</h3>
    </div>
}

